{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"env": {
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"airbnb"
	],
	"parserOptions": {
		"ecmaVersion": 2016,
		"sourceType": "module"
	},
	"rules": {
		"indent": ["error", "tab"],
		"max-len": ["error", { "code": 120, "ignorePattern": "^import\\s.+\\sfrom\\s.+;$" }],
		"no-tabs": 0,
		"import/extensions": "off"
	},
	"settings": {
		"import/resolver": {
		"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	}
}
